@{
    ViewData["PageHeader"] = ViewData["Title"] = "Site Administration";
}

<html>
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <h1>@ViewData["PageHeader"]</h1>
    </body>
</html>
