@model NewJoiner.Models.Hotel

@{
    ViewData["PageHeader"] = ViewData["Title"] = "Page Not Found‽";
}

<html>
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <h1>@ViewData["PageHeader"]</h1>
        <p>What the heck? Why are you poking around in my dark corners?</p>
        <p>No candy for you. <a href='/'>Go straight home.</a></p>
    </body>
</html>
