@model NewJoiner.Models.Hotel

@{
    ViewData["PageHeader"] = ViewData["Title"] = "Ow! The site broke!";
}

<html>
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <h1>@ViewData["PageHeader"]</h1>
        <p><em>What have you done‽</em></p>
        <p>I'm tired of this game. <a href='/'>Go straight home.</a></p>
    </body>
</html>
