@model NewJoiner.Models.Hotel

@{
    ViewData["PageHeader"] = ViewData["Title"] = "Suddenly I'm very, very tired...";
}

<html>
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <h1>@ViewData["PageHeader"]</h1>
        <p>Something seems out-of-whack. I'm not sure I'm all that well right now.</p>
        <p><a href='/'>Perhaps it's time for you to go home.</a></p>
    </body>
</html>
