@model NewJoiner.Models.Hotel

@{
    ViewData["PageHeader"] = ViewData["Title"] = "New Joiner Home";
}

<html>
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <h1>@ViewData["PageHeader"]</h1>
        <p>Hello @Model.name!</p>
    </body>
</html>

<p></p>
